@import "../vars.scss";

.MainHeader {
  display: flex;
  gap: $base-2;
}

// .MainHeader__dropdown {
// }

.MainHeader__dropdown-link {
  display: flex;
  align-items: flex-end;
}

.MainHeader__dropdown-svg {
  fill: $icon-color;
  transform: rotate(180deg);
}
