@import "./vars.scss";

.App__main {
  display: flex;
  padding: $base-3;
  align-items: center;
  justify-content: center;
  gap: $base-6;
  flex-wrap: wrap;

  .Heading-1 {
    max-width: 500px;
  }
}

.App__main-image {
  max-width: 365px;
  width: 100%;
}
